* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

p {
  margin: 10px;
  font-size: 18px;
}

.user {
  display: flex;
  margin-top: 20px;
}